[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"

[dev-packages]
pylint = "*"
jedi = "*"
autopep8 = "*"
ipykernel = "*"
mypy = "*"

[requires]
python_version = "3.9"
